<link rel="stylesheet" href="/stylesheets/navbar.css" />
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <% if(currentUser){ %> 
    <input id = 'currentUser' type="hidden" value="<%= currentUser._id %>">
  <% } %> 
  <div class="container-fluid">
    <a class="navbar-brand h6" href="/main?f=all">
      <img class = "navlogo" src="https://res.cloudinary.com/dokcpejo1/image/upload/v1648513749/Saa3d/logo.png"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="container">
       <%- include('../partials/flash') %>
     </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser){ %>
          <a class="nav-link h6" href="/login">Login</a>
          <a class="nav-link h6" href="/register">Register</a>
          <% }else{ %>
            <div class="d-flex">
            <div class="m-auto">
              <a class="nav-link h6" href="/profile/<%= currentUser._id %>">
                <div class="rounded-circle">
                  <img src="<%= currentUser.image.url %>" class="rounded-circle navpic">
                </div>
                     <% 
                        let username = currentUser.username;
                        if(username.length > 10)
                          username = username.substr(0, 10) + '...';
                     %> 
                    <p class="h6 navp"><%= username %> </p>
                  </a>
              </div>

              <div class="m-auto">
                <a class = "nav-link" href="/post/new"><i class="fa fa-plus-circle fa-lg"></i></a>
              </div>
              
              <div class="m-auto">
                <a class = "nav-link" href="/main/search"><i class="fa fa-search fa-lg"></i></a>
              </div>

                <div class="m-auto">
                  <a class = "nav-link" href="/chat/<%= currentUser._id %>/main"><i class="fa fa-commenting fa-lg"></i></a>
                </div>

                <div class="m-auto">
                    <span class="notfNum h6" style = <%= currentUser.unreadNotf? 'display:block': 'display:none';%>><%= currentUser.unreadNotf %></span>
                  <a id = 'notfIcon' class = "nav-link" href="/profile/<%= currentUser._id %>/notifications"><i class="fa fa-bell fa-lg"></i></a>
              </div>
              
              <div class="m-auto">
              <a class = "nav-link" href="/profile/<%= currentUser._id %>/settings "><i class="fa fa-sliders fa-lg"></i></a>
            </div>

            <div class="m-auto">
              <a class = "nav-link d-block d-md-none" href="/standing"><i class="fa fa-users fa-lg"></i></a>
            </div>

              <div class="m-auto">
                <a class = "nav-link logout" href="/logout"><i class="fa fa-sign-out fa-lg"></i></a>
              </div>
          </div>
            <% } %>
      </div>
    </div>
  </div>
</nav>
