<link rel="stylesheet" href="/stylesheets/chat.css" />
<% layout('layouts/boilerplate') %>
<div class="cover-container row mt-5 mb-3 mx-auto bg-light">
<input id="chatId" type="hidden" value="<%= chatId %>">
<a href="/profile/<%= friend._id %>"><span class="text-danger h5">
    <div class="rounded-circle mt-3">
        <img src="<%= friend.image.url %> " class="rounded-circle pic">
      </div>    
    <%= friend.username %></span>
</a>
<hr>
<div id="messages"> 
    <% for(let msg of msgs){ %> 
        <% if(!currentUser._id.equals(msg.sender)){ %> 
        <div class="d-flex flex-row justify-content-start">
        <div>
            <p class="small p-2 ms-3 mb-1 rounded-3 text-white bg-secondary"><span class="h6"><%= msg.content %> </span></p>
            <p class="small rounded-3 text-muted text-start mx-4"><%= new Date(msg.time).toLocaleString() %> </p>
        </div>
        </div>
        <% }else{ %> 
        <div class="d-flex flex-row justify-content-end">
        <div>
            <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary"><span class="h6"><%= msg.content %> </span></p>
            <p class="small rounded-3 text-muted text-end mx-4"><%= new Date(msg.time).toLocaleString() %> </p>
        </div>
        </div>
    <% }} %> 
    </div>
    <div class="d-flex mb-5">
        <input id = 'msg' type="text" class="form-control" placeholder="Type message..." required>
        <button class="btn btn-success mx-1" id="sendBtn" type="submit">Send</button>
    </div>
</div>
<%- include('../partials/footer') %>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/sockets/chat.js"></script>